pytest==8.3.4
pytest-xdist==3.6.1
playwright==1.49.1
allure-pytest==2.13.5
requests==2.32.3
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pydantic==2.10.4
faker==33.3.1
openpyxl==3.1.5
pyyaml==6.0.2